@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

body {
  background: linear-gradient(-65deg,
      #ee7752,
      #e73c7e,
      #23a6d5,
      #23d5ab,
      #22c1c3,
      #eeaeca,
      #94bbe9,
      #fdbb2d);
  background-size: 800% 200%;
  animation: gradient 15s ease infinite;
  /* height: 100vh; */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.gradient-text {
  @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 inline-block text-transparent bg-clip-text;
}

.theme-toggle {
  @apply text-gray-700 dark:text-slate-100  selection:bg-gray-700 selection:text-slate-100;
}

.wave-line {
  @apply underline decoration-slate-50 decoration-wavy;
}

.name {
  @apply text-2xl font-black leading-normal text-center tracking-normal;
}

.title {
  @apply text-center text-2xl font-bold wave-line;
}

.subtitle {
  @apply text-xl font-bold wave-line;
}

.para {
  @apply text-sm sm:text-base font-normal text-justify tracking-normal leading-relaxed;
}

.para-center {
  @apply text-sm sm:text-base font-normal text-center tracking-normal leading-relaxed;
}

.lead {
  @apply text-xs sm:text-sm font-semibold tracking-tight leading-tight;
}