body {
  background: linear-gradient(-65deg,
      #ee7752,
      #e73c7e,
      #23a6d5,
      #23d5ab,
      #22c1c3,
      #eeaeca,
      #94bbe9,
      #fdbb2d
    );
  background-size: 800% 200%;
  animation: gradient 15s ease infinite;
  /* height: 100vh; */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.name{
  @apply text-2xl font-extrabold leading-normal text-center;
}

.title {
  @apply text-center text-4xl font-bold underline decoration-sky-500 decoration-wavy;
}

.subtitle {
  @apply text-xl font-semibold underline decoration-sky-500 decoration-wavy;
}

.para {
  @apply text-base font-medium text-justify tracking-normal leading-relaxed;
}

.para-left {
  @apply text-base font-medium text-justify tracking-normal leading-relaxed;
}