---
import { getCollection } from "astro:content";
import SiteLayout from "@layouts/SiteLayout.astro";
const allblogs = await getCollection("blogs");
import Card from "@components/Card.astro";
---

<SiteLayout title="Blogs">
  <section class="flex flex-col space-y-6 h-screen">
    <h1 class="subtitle text-center">Writings</h1>
    <div class="place-self-center">
    {
      allblogs.map((blog) => (
        <Card 
        title={blog.data.title}, 
        description={blog.data.description},
        day={blog.data.pubDate.toLocaleDateString("en-us", {weekday: "short"})},
        date={blog.data.pubDate.toLocaleDateString("en-us", {day: "2-digit"})}, 
        month={blog.data.pubDate.toLocaleDateString("en-us", {month: "short"})}, 
        year={blog.data.pubDate.getFullYear()}, 
        href=`/blogs/${blog.slug}/`
        />
      ))
    }
    </div>
  </section>
</SiteLayout>
