---
import GokulSign from "@images/gokul_sign_artwork.svg?raw";
---

<div class="hidden" id="signature">
	<div class="fixed top-0 left-0 right-0 bottom-0 w-full h-screen z-50 overflow-hidden bg-white flex flex-col items-center justify-center">
		<div class="text-center">
			<Fragment set:html={GokulSign} />
		</div>
	</div>
</div>

<script is:inline>
	window.onload = function () {
		if(typeof window.localStorage !== "undefined" && !localStorage.getItem('visited')) {
			document.getElementById("signature").style.display = "block";
			localStorage.setItem('visited', true);
			setTimeout(function () {
				document.getElementById("signature").style.display = "none";
				console.log('hide')
			}, 3000);
		}
	};
</script>
